<!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
            
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a href="/blank" aria-expanded="false"><i class="mdi mdi-gauge"></i>Dashboard</a>
                           
                        </li>
                        
                        <li> <a href="/profile" aria-expanded="false"><i class="mdi mdi-laptop-windows"></i>profile</a>
                            
                        </li>
                        <li>
                            <a href="/teampage" aria-expanded="false"><i class="mdi mdi-bullseye"></i>Team</a>
                           
                               
                                
                            
                        </li>
                        <li>
                            <a href="/project" aria-expanded="false"><i class="mdi mdi-email"></i>Project</a>
                           
                        </li>                     
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>